
/* === SECCIÓN 5: LA CELEBRACIÓN === */
#seccion5-celebracion {
  background-image: url('../img/fondo_5.jpg'); /* imagen futura */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  text-align: center;
  color: #000;
  font-family: 'Playfair Display', serif;
   height: 50vh;
}

#seccion5-celebracion h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#seccion5-celebracion .nombre-lugar {
  font-family: 'Parisienne', cursive;
  font-size: 2.8em;
  font-weight: normal;
  margin: 10px 0;
  color: #000;
}

#seccion5-celebracion .direccion {
  font-size: 1em;
  line-height: 1.4em;
  color: #444;
}

#seccion5-celebracion .hora {
  margin: 10px 0 20px;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Botón elegante celeste */
#seccion5-celebracion .boton {
  display: inline-block;
  padding: 10px 24px;
  background-color: #5fb187;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

#seccion5-celebracion .boton:hover {
  background-color: #2e8e5c;
}

